<section class="main-content margin-top-5 margin-bottom-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form novalidate
                      name="reservationsCtrl.reservationsForm"
                      class="form-horizontal"
                      ng-submit="reservationsCtrl.submitReservationDate()">
                    <div class="form-group"
                         ng-class="reservationsCtrl.getValidationFeedbackClass('reservationsDate')">
                        <div class="col-md-12">
                            <p class="input-group">
                                <input type="text"
                                       class="form-control"
                                       id="reservationsDate"
                                       name="reservationsDate"
                                       placeholder="Fecha de Reserva"
                                       date-to-timestamp
                                       uib-datepicker-popup="{{'dd/MM/yyyy'}}"
                                       is-open="reservationsCtrl.reservationsDatePopUp.isOpen"
                                       close-text="Close"
                                       ng-model="reservationsCtrl.formFields.reservationsDate"
                                       ng-required="true"
                                       ng-pattern="/^(\d{2})/(\d{2})/(\d{4})$/"/>
                                <span class="input-group-btn">
                                        <button type="button"
                                                class="btn"
                                                ng-class="reservationsCtrl.getValidationFeedbackButtonClass('reservationsDate')"
                                                ng-click="reservationsCtrl.openReservationsDatePopUp()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button ladda
                                    ng-model="loginCtrl.loading"
                                    type="submit"
                                    class="btn btn-primary ladda-button"
                                    data-style="zoom-in"
                                    ng-disabled="reservationsCtrl.reservationsForm.$invalid">
                                Buscar
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped" ng-if="reservationsCtrl.availableCourts">
                    <thead>
                    <tr>
                        <th class="text-center">Pista</th>
                        <th class="text-center">Hora</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="court in reservationsCtrl.availableCourts">
                        <td class="text-center">{{court['courtId']}}</td>
                        <td class="text-center">{{court['date']|date:'mediumTime'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>